.container{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
}

.content{
    background-color: #74c2e3;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    color: #ffffffd5;
    width: 50vw;
    padding: 5px;
}

.content > div{
    font-size: 25px;
}
